*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  background-color: #333;
  font-family: system-ui;
  padding: 1em;
}
h1{
  color: #fff;
}
.container{
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1em;
}
.wrap-squares{
  max-width: 375px;
  width: 100%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-auto-rows: 110px;
  grid-gap: 1em;
  margin-bottom: 1em;
}
.square{
  border: 3px solid #fff;
  border-radius: 10px;
  cursor: pointer;
  padding: .5em;
  transition: .2s background-color;
}
.square:hover{
  background-color: rgb(31, 32, 100);
}
.square-img{
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.wrap-PlayerTurn{

  display: flex;
  gap: .75em;
}
.square-PlayerTurn{
  background-color: #555;
  border-radius: 10px;
  width: 80px;
  padding: .2em;
}
.PlayerTurn-img{
  width: 100%;
  height: 100%;
  object-fit: contain;
}


/*estilos btn*/
#btn-reset{
  padding: 5px 10px;
  border-radius: 10px;
  background-color: rgb(25, 124, 21);
  color: #fff;
  border: 0px;
  font-size: 1em;
  cursor: pointer;
}
#btn-reset:hover{
  background-color: rgb(29, 155, 24);
}



/*sweetalert*/
.swal2-container {
  z-index: 10 !important; 
}


.river{
  background-color: rgb(255, 0, 0);
}

.boca{
  background-color: blue;
}